/*================
FONTS
/*===============*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/*================
GLOBAL VARIABLES
/*===============*/
:root {
    --ff-primary: "Josefin Sans", sans-serif;
    --ff-size: 16px;
    --clr-desat-red: hsl(0, 36%, 70%);
    --clr-soft-red: hsl(0, 93%, 68%);
    --clr-dark-gray-red: hsl(0, 6%, 24%);
    --clr-grad-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --clr-grad-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --clr-alert-success: hsl(120, 81%, 39%);
    --clr-alert-danger: hsl(0, 73%, 68%);
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* + * {
    margin-top: 1rem;
}
body {
    background: var(--clr-grad-1);
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
}
.logo {
    height: 20px;
    margin: 0.7rem 0 0.7rem 1.8rem;
}
.mobile-hero {
    width: 100%;
    height: auto; /* maybe not needed */
    margin-bottom: 3rem;
}
.desktop-hero {
    display: none;
}
h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: var(--clr-dark-gray-red);
}
h1 span {
    color: var(--clr-desat-red);
    font-weight: 300;
}
p {
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    color: var(--clr-desat-red);
    line-height: 1.5em;
}
.input-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 450px;
}
input {
    display: block;
    width: 80%;
    /* The above two are needed for margin auto to work (from Stack Overflow)*/
    padding: 1em;
    padding-left: 1.5em;
    margin: 1.5rem auto;
    border-radius: 30px;
    border: 1px solid hsla(0, 6%, 40%, 0.3);
    background: var(--clr-grad-1);
    color: var(--clr-dark-gray-red);
    font-family: var(--ff-primary);
    line-height: 1.5em;
}
input::placeholder {
    color: hsla(0, 36%, 70%, 0.5);
}
input:focus {
    outline: none;
    border: 1px solid var(--clr-soft-red);
}
.submit-btn {
    position: absolute;
    top: -33%;
    right: 7%;
    border: none;
    border-radius: 50px;
    width: 65px;
    height: 48px;
    background: var(--clr-grad-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn img {
    margin: 0;
}
.submit-btn:active {
    cursor: pointer;
    background: hsl(0, 80%, 85%);
}
.submit-btn::before,
.submit-btn::after {
    content: "";
    position: absolute;
    display: none;
}
.submit-btn::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 400;
    top: 24.5%;
    right: 118.5%;
    color: var(--clr-alert-success);
}
.submit-btn::after {
    top: 25%;
    right: 110%;
    background: url("./images/icon-error.svg") no-repeat;
    height: 30px;
    width: 30px;
}
.email-alert::before,
.email-alert::after {
    font-size: 13px;
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 110%;
    left: 15%;
}
.email-alert::before {
    content: "Invalid email";
    color: var(--clr-alert-danger);
}
.email-alert::after {
    content: "Your email is valid";
    color: var(--clr-alert-success);
}
.input-wrapper.valid .email-alert::after {
    display: inline;
}
.input-wrapper.valid input {
    border: 2px solid var(--clr-alert-success);
}
.input-wrapper.valid .submit-btn::before {
    display: inline;
}
.input-wrapper.valid .submit-btn,
.input-wrapper.invalid .submit-btn {
    top: -31%;
    height: 50px;
}
.input-wrapper.invalid .email-alert::before {
    display: inline;
}
.input-wrapper.invalid input {
    border: 2px solid var(--clr-alert-danger);
}
.input-wrapper.invalid .submit-btn::after {
    display: inline;
}
.attribution {
    padding: 0.6rem 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 992px) {
    * + * {
        margin-top: 0;
    }
    body {
        height: 100vh;
        display: grid;
        grid-template-areas:
            "logo hero"
            "text-content hero"
            "input hero"
            "footer hero";
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
        background: url("./images/bg-pattern-desktop.svg");
    }
    .logo {
        grid-area: logo;
        height: auto;
        margin-left: 10vw;
        margin-top: 5vw;
    }
    .mobile-hero {
        display: none;
    }
    .text-wrapper {
        grid-area: text-content;
        text-align: left;
        height: 100%;
        margin-top: 0;
    }
    .text-wrapper * {
        text-align: left;
    }
    .text-wrapper :is(h1, p) {
        margin-left: 10vw;
    }
    .text-wrapper h1 {
        width: 50%;
        font-size: 60px;
        padding-top: 8vw;
    }
    .text-wrapper p {
        padding-top: 2vw;
        width: 60%;
        line-height: 1.7em;
        font-size: 14px;
    }
    .input-wrapper {
        grid-area: input;
        width: 54%;
        max-width: 380px;
        margin: 1.5vw 0 0 10vw;
    }
    input {
        margin-top: 0;
        padding-left: 2em;
        width: 100%;
        font-size: 15px;
    }
    .submit-btn {
        top: 0;
        right: -3%;
        height: 54px;
        width: 90px;
    }
    .submit-btn:hover {
        cursor: pointer;
    }
    .input-wrapper.valid .submit-btn,
    .input-wrapper.invalid .submit-btn {
        top: 0;
        height: 57px;
    }
    .email-alert::before,
    .email-alert::after {
        top: 85%;
        left: 8%;
    }
    footer {
        padding: 2vw 0;
        grid-area: footer;
    }
    .desktop-hero {
        display: inline;
        grid-area: hero;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .attribution {
        text-align: left;
        margin-left: 10vw;
    }
}
