/*================
FONTS
/*===============*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/*================
GLOBAL VARIABLES
/*===============*/
:root {
    /* Text */
    --ff-primary: 'Josefin Sans', sans-serif;
    --ff-size: 16px;
    --clr-desat-red: hsl(0, 36%, 70%);
    --clr-soft-red: hsl(0, 93%, 68%);
    --clr-dark-gray-red: hsl(0, 6%, 24%);
    --clr-grad-1: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
    --clr-grad-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* + * {
    margin-top: 1rem;
}
body{
    background: var(--clr-grad-1);
}
main{
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
}
img:first-of-type{
    height: 20px;
    margin: .7rem 0 .7rem 1.8rem;
}
img:nth-of-type(2) {
    width: 100%;
    height: auto; /* maybe not needed */
    margin-bottom: 3rem;
}
h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: var(--clr-dark-gray-red);
}
h1 :is(span){ /* prolly overkill but meh */
    color: var(--clr-desat-red);
    font-weight: 300;
}
p {
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    color: var(--clr-desat-red);
    line-height: 1.5em;
}
input{
    display: block;
    width: 80%;
    max-width: 400px;
    /* The above two are needed for margin auto to work (from Stack Overflow)*/
    padding: 1em;
    padding-left: 1.5em;
    margin: 1.5rem auto;
    border-radius: 30px;
    border: 1px solid hsla(0, 6%, 40%, .3);
    background: var(--clr-grad-1);
    color: var(--clr-dark-gray-red);
}
input::placeholder{
    font-family: var(--ff-primary);
    color: hsla(0, 36%, 70%, .5);
}
input:focus{
    outline: none;
    border: 1px solid var(--clr-soft-red);
}
.input-wrapper{
    position: relative;
}
.submit-btn{
    position: absolute;
    top: -36%;
    right: 7%;
    border-radius: 50px;
    width: 65px;
    height: 45px;
    background: var(--clr-grad-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn:hover{
    cursor: pointer;
}
.submit-btn img {
    margin: 0;
}
.attribution {
    padding: .6rem 0;
    margin-bottom: 1rem;
    font-size: .8rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
